.Courses{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}
.Courses .Courses-title{
    font-size: 32px;
    position: relative;
    width: fit-content;
}
.Courses .Courses-title::before{
    content: '';
    position: absolute;
    border: 2.5px solid #ffb000;
    width: 80%;
    bottom: -10px;
    left: 31px;
}
.Courses .Courses-content{
    width: 80%;
    margin: auto;
    /* background: darkgrey; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    direction: rtl;
}
.Courses .Courses-content .link{
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 16px;
    color: #FF9500;
}
.Courses .Courses-content .link svg{
    font-size: 12px;
    width: 22px;
}
.Courses .Courses-content .name{
font-size: 26px;
}
.Courses img{
    width: 400px;
    height: 200px;
}